<div class="jumbotron">
    <h1 class="display-4 fw-bolder text-danger">About</h1>
    <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium modi placeat labore provident mollitia vitae laboriosam, molestiae eius et nobis. Laboriosam quas animi quidem. Quis, illo enim voluptatum placeat corporis optio! Iure, maxime. Vel in perspiciatis dolorem cum ipsa perferendis debitis, illo eum omnis! Sint delectus voluptatum aliquam fugit voluptate repudiandae optio, quidem laudantium asperiores adipisci dolore, enim similique eligendi, quis veniam blanditiis quisquam? Vitae enim error quod quae! Aperiam impedit perferendis illo, dolores veniam totam iste ea doloribus perspiciatis tempora laudantium? Earum quis laborum, distinctio placeat repellat aspernatur commodi doloremque asperiores a consequatur! Quod reprehenderit cupiditate eum temporibus iusto.</p>
    <hr class="my-4">
    <p class="text-muted">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-warning btn-lg" href="#" role="button">See more</a>
    </p>
  </div>
